@import './_variables.css';


.ant-btn-primary {
  background-color: var(--primary-button-color);
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  font-weight: bold;
  font-size: large;
}

.ant-btn-primary:hover {
  background-color: var(--primary-button-color-hover) !important;
}

.ant-btn-default {
  background-color: var(--default-button-color);
  color: white;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  font-weight: bold;
  font-size: large;
}

.ant-btn-default:hover {
  background-color: var(--default-button-color-hover) !important;
  border-color: var(--default-button-color-hover) !important;
  color: white !important;
}

.logo {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}